<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
  <nz-header
    class="main-header"
    nz-row
    nzType="flex"
    style="background-color: #003973"
  >
    <div>
      <a
        routerLink="/login"
        style="
          color: white;
          margin-left: 50px;
          font-size: 18px;
          font-weight: bolder;
        "
        >Restautant System</a
      >
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/signup" routerLinkActive="active"
        >Sign Up</a
      >
      <a
        nz-button
        nzType="link"
        routerLink="/login"
        routerLinkActive="active"
        (click)="logout()"
        >Login</a
      >
    </div>
  </nz-header>
</div>

<div *ngIf="isAdminLoggedIn">
  <nz-header
    class="main-header"
    nz-row
    nzType="flex"
    style="background-color: #003973"
  >
    <div>
      <a
        routerLink="/admin/dashboard"
        style="
          color: white;
          margin-left: 50px;
          font-size: 18px;
          font-weight: bolder;
        "
        >Restautant System</a
      >
    </div>
    <div class="nav-links">
      <a
        nz-button
        nzType="link"
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        >Admin Dashboard</a
      >
      <a
        nz-button
        nzType="link"
        routerLink="/admin/category"
        routerLinkActive="active"
        >Category</a
      >
      <a
        nz-button
        nzType="link"
        routerLink="/login"
        routerLinkActive="active"
        (click)="logout()"
        >Logout</a
      >
    </div>
  </nz-header>
</div>

<div *ngIf="isCustomerLoggedIn">
  <nz-header
    class="main-header"
    nz-row
    nzType="flex"
    style="background-color: #003973"
  >
    <div>
      <a
        routerLink="/customer/dashboard"
        style="
          color: white;
          margin-left: 50px;
          font-size: 18px;
          font-weight: bolder;
        "
        >Restautant System</a
      >
    </div>
    <div class="nav-links">
      <a
        nz-button
        nzType="link"
        routerLink="/customer/dashboard"
        routerLinkActive="active"
        >Dashboard</a
      >
      <a
        nz-button
        nzType="link"
        routerLink="/login"
        routerLinkActive="active"
        (click)="logout()"
        >Logout</a
      >
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>
